// 公共样式
$theme-yellow-color: #ffd04b;
$theme-black-color: #2e3641;
$theme-gray-color: #97a1aa;
$theme-gray2-color: #444f5d;
$theme-bold-color: #bcc6d0;
$theme-gray4-color: #3c4a5b;
$theme-content-black-color: #222832;